body {
    font-size: 18px;
}

#header {
    background-color: rgb(224, 211, 155);
    height: 800px;
    font-family: 'Dancing Script', cursive;
}

h1 {
    margin-left: 200px;
}

h2 {
    color: rgb(145, 145, 238);
    font-style: italic;
}

.wrap {
    display: flex;
    justify-content: center;
}

#header img {
    width: 200px;
    height: 320x;
    margin: 10px;
}

#header p {
    margin-left: 450px;
}

#footer {
    background-color: #000;
    height: 150px;
    display: flex;
}

.footer__text {
    margin: auto;
    color: #fff;
    font-size: 22px;
}

.footer__text:hover {
    color: rgb(49, 48, 48);
}