body {
    font-size: 18px;
}

#header {
    background-color: rgb(224, 211, 155);
    height: 800px;
    font-family: 'Dancing Script', cursive;
}

h1 {
    margin-left: 200px;
}

.wrap {
    display: flex;
    justify-content: center;
}

#header img {
    width: 200px;
    height: 320x;
    margin: 10px;
}

#header p {
    margin-left: 450px;
}